
        <!DOCTYPE html>
        <html>
        <head>
        <title> Monitor</title>
        </head>
        <body>

        <h1> Power Out: <%= power%> </h1>
        <h1> Main Battery Voltage: <%= linev %> </h1>

        </body>
        </html>
    
        <!DOCTYPE html>
        <html>
        <head>
        <title> Monitor</title>
        </head>
        <body>

        <h1> Power Out: <%= power%> </h1>
        <h1> Main Battery Voltage: <%= linev %> </h1>

        </body>
        </html>
    
        <!DOCTYPE html>
        <html>
        <head>
        <title> Monitor</title>
        </head>
        <body>

        <h1> Power Out: <%= power%> </h1>
        <h1> Main Battery Voltage: <%= linev %> </h1>

        </body>
        </html>
    
        <!DOCTYPE html>
        <html>
        <head>
        <title> Monitor</title>
        </head>
        <body>

        <h1> Power Out: <%= power%> </h1>
        <h1> Main Battery Voltage: <%= linev %> </h1>

        </body>
        </html>
    
        <!DOCTYPE html>
        <html>
        <head>
        <title> Monitor</title>
        </head>
        <body>

        <h1> Power Out: <%= power%> </h1>
        <h1> Main Battery Voltage: <%= linev %> </h1>

        </body>
        </html>
    
        <!DOCTYPE html>
        <html>
        <head>
        <title> Monitor</title>
        </head>
        <body>

        <h1> Power Out: <%= power%> </h1>
        <h1> Main Battery Voltage: <%= linev %> </h1>

        </body>
        </html>
    
        <!DOCTYPE html>
        <html>
        <head>
        <title> Monitor</title>
        </head>
        <body>

        <h1> Power Out: <%= power%> </h1>
        <h1> Main Battery Voltage: <%= linev %> </h1>

        </body>
        </html>
    
        <!DOCTYPE html>
        <html>
        <head>
        <title> Monitor</title>
        </head>
        <body>

        <h1> Power Out: <%= power%> </h1>
        <h1> Main Battery Voltage: <%= linev %> </h1>

        </body>
        </html>
    
        <!DOCTYPE html>
        <html>
        <head>
        <title> Monitor</title>
        </head>
        <body>

        <h1> Power Out: <%= power%> </h1>
        <h1> Main Battery Voltage: <%= linev %> </h1>

        </body>
        </html>
    
        <!DOCTYPE html>
        <html>
        <head>
        <title> Monitor</title>
        </head>
        <body>

        <h1> Power Out: <%= power%> </h1>
        <h1> Main Battery Voltage: <%= linev %> </h1>

        </body>
        </html>
    
        <!DOCTYPE html>
        <html>
        <head>
        <title> Monitor</title>
        </head>
        <body>

        <h1> Power Out: <%= power%> </h1>
        <h1> Main Battery Voltage: <%= linev %> </h1>

        </body>
        </html>
    
        <!DOCTYPE html>
        <html>
        <head>
        <title> Monitor</title>
        </head>
        <body>

        <h1> Power Out: <%= power%> </h1>
        <h1> Main Battery Voltage: <%= linev %> </h1>

        </body>
        </html>
    
        <!DOCTYPE html>
        <html>
        <head>
        <title> Monitor</title>
        </head>
        <body>

        <h1> Power Out: <%= power%> </h1>
        <h1> Main Battery Voltage: <%= linev %> </h1>

        </body>
        </html>
    
        <!DOCTYPE html>
        <html>
        <head>
        <title> Monitor</title>
        </head>
        <body>

        <h1> Power Out: <%= power%> </h1>
        <h1> Main Battery Voltage: <%= linev %> </h1>

        </body>
        </html>
    
        <!DOCTYPE html>
        <html>
        <head>
        <title> Monitor</title>
        </head>
        <body>

        <h1> Power Out: <%= power%> </h1>
        <h1> Main Battery Voltage: <%= linev %> </h1>

        </body>
        </html>
    
        <!DOCTYPE html>
        <html>
        <head>
        <title> Monitor</title>
        </head>
        <body>

        <h1> Power Out: <%= power%> </h1>
        <h1> Main Battery Voltage: <%= linev %> </h1>

        </body>
        </html>
    
        <!DOCTYPE html>
        <html>
        <head>
        <title> Monitor</title>
        </head>
        <body>

        <h1> Power Out: <%= power%> </h1>
        <h1> Main Battery Voltage: <%= linev %> </h1>

        </body>
        </html>
    
        <!DOCTYPE html>
        <html>
        <head>
        <title> Monitor</title>
        </head>
        <body>

        <h1> Power Out: <%= power%> </h1>
        <h1> Main Battery Voltage: <%= linev %> </h1>

        </body>
        </html>
    